<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Material Procurement</title>
</head>
<body>
<form action="/material_proc_new" method="POST">

  Item Name:<br>
  <select name="items">
      {% if not items_data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for items in items_data %}
        <option value="{{ items.item_name }}">{{ items.item_name }}</option>
        {% endfor %}
      {% endif %}
</select>
  <br>
    Date:<br>
  <input type = "date">
  <br>
    <br>
   Vendor:<br>
  <select name = "vendors">
      {% if not data %}
        <option value="no_items">No Items to display</option>
      {% else %}
        {% for o in data %}
            <option value="{{ o.ledger_name }}">{{ o.ledger_name }}</option>
        {% endfor %}
      {% endif %}
  </select>
  <br>
    <br>
    Items in KG((Quantity):<br>
    <input type="text" name="iteminkg" placeholder="100"><br>
    Amount:<br>
        <input type="number" name="iteminkgamount" placeholder="1000"><br><br>
    Items in Number(Quantity):<br>
    <input type="text" name="iteminno" placeholder="9760"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>